@model List<RestMeet.Model.ShopLanguage>

    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    Widget settings form goes here
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue">Save changes</button>
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Shop Informations <small>Manage your shop information.</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="index.html">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Form Stuff</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Material Design Form Controls</a>
            </li>
        </ul>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="/backend/shop/info/1"><i class="icon-book-open"></i>  Information</a>
                </li>
                <li>
                    <a href="/backend/shop/seo/1"><i class="icon-book-open"></i>  SEO</a>
                </li>
                <li>
                    <a href="#"><i class="icon-book-open"></i> Access Management</a>
                </li>
                <li>
                    <a href="#"><i class="icon-book-open"></i> Widget Management</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#"><i class="icon-book-open"></i> View Shop</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
<ul>
@foreach (var a in Model) {
    <li>@a.Shop.Name</li>
}
 </ul>