@model RestMeet.Service.ViewModels.ForgotPassword
<!-- BEGIN FORGOT PASSWORD FORM -->
@using (Html.BeginForm("ForgotPassword", "Account", new { area = "Backend" }, FormMethod.Post, new { @class = "forget-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>Forget Password ?</h3>
    <p>
        Enter your e-mail address below to reset your password.
    </p>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            @*<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />*@
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control placeholder-no-fix", autocomplete = "off", placeholder = "Email", Name = "email" })
        </div>
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn">
            <i class="m-icon-swapleft"></i> Back
        </button>
        <button type="submit" class="btn blue pull-right">
            Submit <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
}
<!-- END FORGOT PASSWORD FORM -->