@model  RestMeet.ViewModels.Login
@{
    Layout = "~/Views/Shared/_Layout-Full.cshtml";
}

@section styles{
    @Styles.Render("~/Content/Frontend-default")
    @Styles.Render("~/Content/Frontend-Login")
    @Styles.Render("~/Content/Frontend-theme")
    <style>
        .field-validation-error {
            color: #e80c4d;
            font-weight: bold;
        }

        input.input-validation-error {
            border: 1px solid #e80c4d;
        }

        .validation-summary-errors {
            color: #e80c4d;
            font-weight: bold;
            font-size: 1.1em;
        }
    </style>
}

<!-- BEGIN LOGO -->
<div class="logo">
    <a href="/" style="font-size: 260%; font-weight: 600;">
        <font color="#FFFFFF">SIAM</font><font color="red">MARKET</font>
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGIN -->
<div class="content" id="formBody">

    <div ng-view></div>
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
    2015 &copy; Siam Market - <a href="/corporate">Checkout our corporate page.</a>
</div>
<!-- END COPYRIGHT -->
@section scripts{
    @*@Scripts.Render("~/bundles/Frontend-Global")
    @Scripts.Render("~/bundles/Frontend-Plugin")*@
    @*@Scripts.Render("~/bundles/Frontend-Script")*@
    <script>
        //jQuery(document).ready(function () {
        //   // $("body").addClass("login");
        //    Metronic.init(); // init metronic core components
        //    //Layout.init(); // init current layout
        //    // Demo.init(); // init demo features
        //    // Login.init();
        //    // init background slide images
        //    Lock.init();
        //});
    </script>
}

