
<div data-ng-hide="authen.isAuth" style="background-color:rebeccapurple;">
    Login form
</div>
<div ng-if="authen.isAuth">
    <div class="col-md-12">
        <ul>
            <li ng-repeat="book in books">

                <p>{{book.Shelf.Name}}</p>
                <ul>
                    <li ng-repeat="userbook in book.UserBooks">
                        <img src="../../../../../Content/Images/Books/{{userbook.Picture}}" title="{{userbook.Name}}" />
                        <p>{{userbook.Name}}</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
