<div class="middle-box text-center loginscreen animated fadeInDown">
  <div style="padding-top:40%;">

    <div class="logo-splash">
      <img src="../images/custom/logo-splash.png" alt="">
    </div>
    <div class="spinner-container">
      <div class="sk-spinner sk-spinner-chasing-dots">
        <div class="sk-dot1"></div>
        <div class="sk-dot2"></div>
      </div>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla nulla libero.
    </p>
    <p class="m-t">
      <small>Siam Piwat &copy; 2014</small>
    </p>
  </div>
</div>
