<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-6">
            <h2>Maps</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>Maps</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-12">

                <div class="import-map">
                    <button data-target="#map-import" data-toggle="modal" class="btn btn-white btn-sm">
                        <i class="fa fa-map-marker"></i> Import map
                    </button>
                </div>

                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <form method="get" action="index.html" class="pull-right mail-search">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>

                        <h2>Siam Piwat</h2>

                        <hr>

                        <div class="mail-tools m-t-md">
                            <button title="Mark as important" class="btn btn-white btn-sm pull-left">
                                <i class="fa fa-exclamation"></i>
                            </button>

                            <button title="Delete" class="btn btn-white btn-sm pull-left">
                                <i class="fa fa-trash-o"></i>
                            </button>

                            <div class="btn-group pull-right">
                                <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                                <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                        <br>

                        <div class="table-responsive">
                            <table class="table v-middle">
                                <thead>
                                    <tr>
                                        <th class="col-xs-1"><div class="icheckbox_square-purple" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></th>
                                        <th>Name</th>
                                        <th>Mall</th>
                                        <th>Floor</th>
                                        <th>last Update</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="font-weight:bold;" class="active">
                                        <td><div class="icheckbox_square-purple checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                                        <td><a href="map-individual.html">Siam Sqaure - 1st, Floor</a></td>
                                        <td>Siam Sqaure</td>
                                        <td>1st, Floor</td>
                                        <td>16 Aug 16 , 16:30 AM</td>
                                        <td class="text-right">
                                            <a class="btn btn-white  btn-sm" ng-href="#/map">Edit Map</a>
                                            <a class="btn btn-white  btn-sm" ng-href="#/zone">Edit Zone</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="icheckbox_square-purple" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                                        <td><a href="map-individual.html">Siam Sqaure - 1st, Floor</a></td>
                                        <td>Siam Sqaure</td>
                                        <td>1st, Floor</td>
                                        <td>16 Aug 16 , 16:30 AM</td>
                                        <td class="text-right">
                                            <a class="btn btn-white  btn-sm" href="map-individual.html">Edit Map</a>
                                            <a class="btn btn-white  btn-sm" href="map-zone.html">Edit Zone</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="icheckbox_square-purple" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                                        <td><a href="map-individual.html">Siam Sqaure - 1st, Floor</a></td>
                                        <td>Siam Sqaure</td>
                                        <td>1st, Floor</td>
                                        <td>16 Aug 16 , 16:30 AM</td>
                                        <td class="text-right">
                                            <a class="btn btn-white  btn-sm" href="map-individual.html">Edit Map</a>
                                            <a class="btn btn-white  btn-sm" href="map-zone.html">Edit Zone</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="icheckbox_square-purple" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                                        <td><a href="map-individual.html">Siam Sqaure - 1st, Floor</a></td>
                                        <td>Siam Sqaure</td>
                                        <td>1st, Floor</td>
                                        <td>16 Aug 16 , 16:30 AM</td>
                                        <td class="text-right">
                                            <a class="btn btn-white  btn-sm" href="map-individual.html">Edit Map</a>
                                            <a class="btn btn-white  btn-sm" href="map-zone.html">Edit Zone</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="icheckbox_square-purple" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                                        <td><a href="map-individual.html">Siam Sqaure - 1st, Floor</a></td>
                                        <td>Siam Sqaure</td>
                                        <td>1st, Floor</td>
                                        <td>16 Aug 16 , 16:30 AM</td>
                                        <td class="text-right">
                                            <a class="btn btn-white  btn-sm" href="map-individual.html">Edit Map</a>
                                            <a class="btn btn-white  btn-sm" href="map-zone.html">Edit Zone</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <form method="get" action="index.html" class="pull-right mail-search">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>

                        <h2>Siam Paragon</h2>
                        <hr>
                        <div class="mail-tools m-t-md">
                            <button title="Mark as important" class="btn btn-white btn-sm pull-left">
                                <i class="fa fa-exclamation"></i>
                            </button>

                            <button title="Delete" class="btn btn-white btn-sm pull-left">
                                <i class="fa fa-trash-o"></i>
                            </button>

                            <div class="btn-group pull-right">
                                <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                                <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                        <br>

                        <div class="table-responsive">
                            <table class="table v-middle">
                                <thead>
                                    <tr>
                                        <th class="col-xs-1"><div class="icheckbox_square-purple" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></th>
                                        <th>Name</th>
                                        <th>Mall</th>
                                        <th>Floor</th>
                                        <th>last Update</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><div class="icheckbox_square-purple" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                                        <td><a href="map-individual.html">Siam Sqaure - 1st, Floor</a></td>
                                        <td>Siam Sqaure</td>
                                        <td>1st, Floor</td>
                                        <td>16 Aug 16 , 16:30 AM</td>
                                        <td class="text-right">
                                            <a class="btn btn-white  btn-sm" href="map-individual.html">Edit Map</a>
                                            <a class="btn btn-white  btn-sm" href="map-zone.html">Edit Zone</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="icheckbox_square-purple" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                                        <td><a href="map-individual.html">Siam Sqaure - 1st, Floor</a></td>
                                        <td>Siam Sqaure</td>
                                        <td>1st, Floor</td>
                                        <td>16 Aug 16 , 16:30 AM</td>
                                        <td class="text-right">
                                            <a class="btn btn-white  btn-sm" href="map-individual.html">Edit Map</a>
                                            <a class="btn btn-white  btn-sm" href="map-zone.html">Edit Zone</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2015
            </div>
        </div>
    </div>
</div>

