
<div class="container body-content">
    
        <div class="row">
            <div data-ng-hide="authen.isAuth" style="background-color:rebeccapurple;">
                Sorry. You have no permission to access this page.
            </div>
            <div ng-if="authen.isAuth">
                <div class="col-md-12">
                    <form  class="form-horizontal" role="form">
                        <fieldset class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input class="form-control" id="exampleInputEmail1" placeholder="Enter Name"  ng-model="data.name" >
                            <small class="text-muted">We'll never share your email with anyone else.</small>
                        </fieldset>
 
                        <fieldset class="form-group">
                            <label for="exampleTextarea">Example textarea</label>
                            <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="data.description"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" class="form-control-file" id="exampleInputFile">
                            <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                        </fieldset>

                        <button type="submit" class="btn btn-primary"  ng-click="submitForm()">Submit</button>
                    </form>
                </div>

            </div>
        </div>
 
</div>
