<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SiamMarketEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.197;initial catalog=SiamMarket;integrated security=False;persist security info=False;user id=sa;password=p@ssword1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SiamMarketEntities1" connectionString="metadata=res://*/Model10.csdl|res://*/Model10.ssdl|res://*/Model10.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.197;initial catalog=SiamMarket;integrated security=False;persist security info=False;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SiamMarketEntities2" connectionString="metadata=res://*/Repositories.csdl|res://*/Repositories.ssdl|res://*/Repositories.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.197;initial catalog=SiamMarket;integrated security=False;persist security info=False;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SiamMarketEntities3" connectionString="metadata=res://*/Ref.csdl|res://*/Ref.ssdl|res://*/Ref.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.197;initial catalog=SiamMarket;integrated security=False;persist security info=False;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SiamMarketEntities4" connectionString="metadata=res://*/Ref01.csdl|res://*/Ref01.ssdl|res://*/Ref01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.197;initial catalog=SiamMarket;integrated security=False;persist security info=False;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>